@model IndexModel

<div id="deviceGridFrame" class="tab-pane fade active show in h-100">
    <div id="deviceGridInnerWrapper">
        <div id="gridControlsWrapper">
            <div>
                <div>
                    <label>Groupe d'appareils:</label>
                    <select id="deviceGroupSelect" asp-items="Model.DeviceGroups" class="form-control" style="width: 200px">
                        <option value="">Tous</option>
                        <option value="">NA</option>
                    </select>
                </div>
                <div class="custom-control custom-checkbox mt-2">
                    <input id="hideOfflineDevicesCheckbox" type="checkbox" class="custom-control-input" checked />
                    <label class="custom-control-label" for="hideOfflineDevicesCheckbox">Masquer les appareils hors-ligne</label>
                </div>
            </div>
            <div>
                <div>
                    <button id="startRemoteControlButton" class="btn btn-sm btn-secondary mr-1">Téléassistance</button>
                    <button id="toggleAllDevices" class="btn btn-sm btn-secondary">Tout sélectionner</button>
                </div>

                <div class="mt-2">
                    <span class="mr-1">Filtrer:</span>
                    <input id="gridFilter" />
                </div>

                <div class="mt-2" style="white-space: nowrap">
                    <button id="leftPaginationButton" class="btn btn-sm btn-secondary">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <span class="small">Page</span>
                    <input id="currentPageInput" style="width:75px; text-align: center" pattern="[0-9]" />
                    <span class="small">sur</span>
                    <span id="totalPagesSpan"></span>
                    <button id="rightPaginationButton" class="btn btn-sm btn-secondary">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="overflow-y: auto">
            <table id="deviceGrid" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>En ligne</th>
                        <th>Nom de l'appareil</th>
                        <th>Alias</th>
                        <th>Utilisateur</th>
                        <th>Dernière connexion</th>
                        <th>IP</th>
                        <th>Plateforme</th>
                        <th>OS</th>
                        <th>CPU</th>
                        <th>Stockage utilisé</th>
                        <th>Stockage total</th>
                        <th>RAM utilisée</th>
                        <th>RAM totale</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>